{% extends 'core/base.html' %}
{% load static %}

{% block title %}Calendario — Beach Club{% endblock %}

{% block extra_css %}
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css' rel='stylesheet' />
{% endblock %}

{% block content %}

<div class="bc-section">
  <div class="bc-section-title">Calendario</div>

  <div class="bc-card-calendar">
  <div id="fc-toolbar-placeholder"></div>
  <div class="bc-calendar-wrapper">
    <div id="calendario"></div>
  </div>
</div>

  {% endblock %}

  {% block extra_js %}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
  {% endblock %}